@page
@model IndexModel
@{
    ViewData["Title"] = "Test Page :D";
}

<div class="text-center">
    <h1 class="display-4">HOLA HOLA</h1>
    <p>Go to my page <a href="https://holairs.com"> to see more about me 🚀</a>.</p>
</div>